.jumbotron {
    background: white;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    opacity: 90%;
}

.paragraph-margin {
    margin: 1rem;
    padding: 2rem;
}



body {
    font-family: 'Nunito', sans-serif;
    background-color: #171717;
    color: white;
}




h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    color: white;
    opacity: revert;
    z-index: 1;
}

h3 {
    margin: 3rem;
}

h5 {
    color: red;
}

.card-text {
    color: red;
}

.card {
    margin: 1rem;
}

.roles-padding {
    padding-left: 3rem;
    padding-right: 3rem;
}

.roles-buttons-top {
    margin-top: 2rem;
}

footer {
    margin-top: 4rem;
}