.jumbotron {
    background: white;
    padding-top: 0.5rem;
    padding-bottom: 0.05rem;
    margin-bottom: 0;
}

/*Add SCSS later to make nested child rules*/
#header-logo {
    width: 90%;
    height: auto;
    margin-top: none;

}

body {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    font-size: 1.2em;
    margin: 3rem;
}

.no-margins {
    margin: 0;
    padding: 0;
}

#banner {
background-image: url('/images/tavern.jpg');
height: 35rem;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}