.jumbotron {
    background: white;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    opacity: 90%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #171717;
    color: white;
}

.nav-item {
    z-index: 1000;
}

.paragraph-margin {
    margin: 1rem;
    padding: 2rem;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    color: white;
    opacity: revert;
    z-index: 1;
}

h3 {
    margin: 3rem;
}

h5 {
    color: red;
}

.card-text {
    color: red;
}

.card {
    margin: 1rem;
    z-index: -1;
}


.btn-blocker {
    max-width: 8.5rem;
    min-width: 8.5rem;
}

.roles-buttons-top {
    margin-top: 2rem;
}

footer {
    margin-top: 4rem;
}


.col-sm-4 {
    padding-right: 30px;
    padding-left: 30px;
}

